<%- include("header") -%>

    <div class="row">
        <div class="col">
            <h1 class="page-title">Home</h1>
            <p class="justify">
                <%= homeStartingContent %>
            </p>
        </div>
    </div>

    <% for (let i = 0; i < posts.length; i++) { %>

        <div class="row">
            <div class="col">
                <h4> <%= posts[i].title %> </h4>
                <p class="justify">
                    <% if (posts[i].text.length > 100) { %>
                        <%= posts[i].text.substring(0, 100) %>... <a href="posts/<%= formatText(posts[i].title) %>"">[Read More]</a>
                    <% } else { %>
                        <%= posts[i].text %>
                    <% } %>
                </p>
            </div>
        </div>
    
    <% } %>

<%- include("footer") -%>